extends layout

block content
    div.container
        div.row
          h1= title
                form.send_form(action="/" method="post")
                    div.input-field.col.s12
                        input(type="text" placeholder="Enter apps id"  name="app")
                    div.col.s12.m12
                        label  Formats
                        select.icons(name="format" id="format")
                            for format in formats
                                option.left.circle(value=format.name data-icon=format.image) #{format.name}
                    div.input-field.col.s12.m12
                        label  Select language
                        select(name="lang" id="lang")
                            each v, k in lang
                                option(value=k) #{v}
                    div.input-field.col.s12.m12
                        label  Select country
                        select(name="country" id="country")
                            for country in country_list
                                option(value=country) #{country}
                    div.col.s12.m12
                        input.waves-effect.waves-light.btn(type="submit" name="submit" )

