extends ../layouts/layout_banner

block content
    div.block_320_480
        div.top
            div.image
                img(src=data.icon width="220" height="217")
            div.title
                span #{data.title}
            div.description #{data.description}
            div.votes
                div.star
                    -for (var x = 0; x < data.score; x++)
                        img(src="./images/star_light.png")
                    -for (var z = data.score; z < 5; z++)
                        img(src="./images/star_dark.png")
                div.raiting #{data.reviews} #{translation.ratings}
        div.bottom
            div.button
                div.txt(id="install_#{data.lang}") #{translation.install}
                div.icon
                    span #{phones}
                    img(src='/images/#{data.os}_icon.png' width="20" height="20")


