extends ../layouts/layout_banner

block content
    div.block_1
        div.icon
            img(src=data.icon width="46" height="46")
        div.title
            span #{data.title}
        div.buttons
            div.button
                div.os(id="install_#{data.lang}") #{translation.install}
                div.os_img
                    img(src="/images/#{data.os}_icon.png" width="18" height="18")
